{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"airbnb",
		"prettier"
	],
	"settings": {
		"import/resolver": "webpack",
	},
	"rules": {
		"global-require": "off",
		"comma-dangle": "off",
		"prefer-template": "off",
		"no-trailing-spaces": "off",
		"max-len": [
			"error",
			{
				"code": 120,
				"ignoreUrls": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreComments": true
			}
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-tabs": "off",
		"arrow-body-style": "off",
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			"error",
			"tab"
		],
		"react/jsx-filename-extension": [
			"off"
		],
		"jsx-a11y/anchor-is-valid": [
			"off"
		],
		"react/forbid-prop-types": ["error", { "forbid": ["any"] }],
		"no-mixed-spaces-and-tabs": [
			"error",
			"smart-tabs"
		],
		"import/no-unresolved": [
			"off"
		],
		"import/no-extraneous-dependencies": [
			"off"
		],
		"import/prefer-default-export": [
			"off"
		]
	},
	"globals": {
		"__CLIENT__": false,
		"__SERVER__": false,
		"__CLUSTER_ID__": false,
		"shallow": false,
		"render": false,
		"mount": false,
		"jest": false,
		"test": false,
		"expect": false,
		"describe": false,
		"it": false
	}
}
